<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>Home</title>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="col-12">
          <h1>
            <a href="/login">Hello There</a>
          </h1>
          <p>Hello There</p>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>