<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <link href="/css/design.css" rel="stylesheet">
    <title>GroupHub | About</title>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <div class="container" id="content">
      <div class="row">
        <div id="listen" class="col-4">
          <h3>Velkommen til GroupHub!</h3>
          <p>GroupHub er et semesterprojekt, som forsøger at løse problemet med ineffektiv vidensedeling gruppemedlemmer imellem i forbindelse med rapportskrivning i et gruppeprojekt</p>
          <p><strong>Udviklere:</strong></p>
          <ul>
              <li>Alexander H. Hansen</li>
              <li>Jacob T. Rasmussen</li>
              <li>Rasmus Henriksen</li>
              <li>Mike Johansen</li>
              <li>Jakob S. Søndergård</li>
              <li>Martin B. Michaelsen</li>
              <li>Lasse D. Skaalum</li>
          </ul>
        </div>
      </div>
    </div>
    <%- include(`../meta/footer`) %> 
  </body>
</html>
