<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <link href="/css/design.css" rel="stylesheet">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script defer src="/js/home/about.js"></script>
    <title>GroupHub | About</title>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <div class="container" id="content">
      <div class="row">
        <div id="listen" class="col-4">
          <h3>Velkommen til GroupHub!</h3>
          <p>På GroupHub kan du:</p>
        </div>
      </div>
    </div>
    <%- include(`../meta/footer`) %> 
  </body>
</html>
