<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <title>123</title>
    </head>
    <body>
        <%- include('meta/navbar') %> 
        <div class="container" id="content">
            <div class="row">
                <div class="col-12">
                  <p>Hello</p>
                </div>
            </div>
        </div>
        <%- include('meta/footer') %> 
    </body>
</html>
