<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | Upload af evalueringer</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col-12">
          <h1> UPLOAD EVALUERINGER TIL AFSNIT </h1>
        </div>
        <div class ="col-12">
          <a href="/create/quiz">Create Quiz</a>
          <a href="/create/flashcard">Create Flashcard</a>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body> 
</html>
