<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <meta http-equiv="refresh" content="14; URL=https://www.youtube.com/watch?v=dQw4w9WgXcQ/autoplay=1">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script src="/js/about.js"></script>
    <title>GroupHub | About</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div id="listen" class="col-4">
            <h3>Velkommen til GroupHub!</h3>
            <p>På GroupHub kan du:</p>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
