<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="css/design.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/elementlist.css">
    <title>GroupHub | New Section</title>
  </head>
  <body>
    <%- include('meta/navbar') %>
    <div class="container" id="content" style="text-align: center;">
  		  <h1>Make a new section!</h1>
            <form action="/create/section" method="POST">
                <label for="">Section Title:</label><br>
                <input name="section[title]" type="text" size="60%" placeholder="Section Title" required><br>
                <label for="">Section content:</label><br>
                <textarea name="section[content]" placeholder="Please put in the content here!" cols="80" rows="15" required></textarea><br>
                <label for="">keywords:</label><br>
                <input name="section[keywords]" type="text" size="80%" placeholder="Keyword1,Keyword2, etc.." required><br><br>
  		        <input type="submit" value="Create!">
		        </form>
    </div>
  	<%- include(`meta/footer.ejs`) %> 
  </body>
</html>
