<!DOCTYPE html>
<html>
  <head>
    <%- include('../meta/header') %> 
    <title>Angiv Navn</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col-12">
          <h1>Beklager men databasen er nede.</h1>
          <h4>Bliv sur på Mike, ikke mig!!!</h4>
        </div>
      </div>
    </div>
    <%- include('../meta/footer') %> 
  </body>
</html>