<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <link href="css/design.css" rel="stylesheet">
    </head>
    <body>
        <%- include('meta/navbar') %> 
        <div class="container" id="content">
            <div class="row">
                <div class="col-5">  
                    <nav>
                        <a href="/evalueringer">Evalueringer</a>
                    </nav> 
                </div>
                <div class="col-12">
                    <h1> HER KOMMER QUIZ FOR AFSNIT: <%= section %> </h1>
                </div>
            </div>
            
        </div>
        <div class="col-12">
          <h1> HER KOMMER QUIZ </h1>
        </div>
      </div>    
    </div>
    <%- include('meta/footer') %> 
  </body>
  <script></script>
</html>