<%- include(`meta/header.ejs`)  %> 
<body>
    <nav>
        <a href="/www/views/home.ejs">Home</a>
    </nav>
    <h1>
       EVALUERINGER
    </h1>
    <section>
        <button id="design-eval"> Show design </button>
        <img id="">





    </section>

</body>

<%- include(`meta/footer.ejs`) %> 