<!DOCTYPE html>
<html>
<head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <script src="js/flashcard.js" defer></script>
</head>
    <body>
        <%- include('meta/navbar') %> 
        <div class="container" id="content">
            <div class="row">
                <div class="col-12">
                    <h1> Afsnit:  </h1>
                    <p class="cards"> Kort 1 ud af 10 </p>
                    <div class="concept">
                        <p id="concept">Formativ Evaluering</p>
                    </div><br><br><br><br><br><br><br>
                    <div class="definition">
                        <button type="button" id="definition"> Show definition </button><br><br>
                        <img id="def"><br><br>
                        <button type="button"> I agree </button>
                        <button type="button"> I do not agree </button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('meta/footer') %> 
    </body>
</html>