<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | Groups</title>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
          <div class="col-sm-12">
            <h1>Choose one of the groups</h1>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <a href="session/group/<%= data.group[0].idGroup %>">
              <h2><%= data.group[0].name %></h2>
            </a> 
        </div>
        <div class="col-sm-12">
            <p>Vi beklager at man indtil videre kun kan være en del af en gruppe ad gangen</p>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
