<h1>Evaluation Progress</h1>
<div>
    <div id="taken" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
        XX%    <!-- XX% is replaced by value calculated in js/homeStatusBar.js -->
    </div>  
    <p>Gennemgåede evalueringer ud af mulige</p>
</div>
<div>
    <div id="correct" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
        XX%    <!-- XX% is replaced by value calculated in js/homeStatusBar.js -->
    </div>  
    <p>Korrekt besvarede evalueringer ud af gennemgåede</p>
</div>

<script src="js/homeStatusBar.js"></script>
