<%- include(`meta/header.ejs`)  %> 
<body>
    <nav>
        <a href="/www/views/rapport">Rapport</a>
        <a href="/www/views/evalueringer">Evalueringer</a>
    </nav>
    <h1>
       HOME OVERVIEW
    </h1>

    <section>
        <button id="design-home"> Show design </button>
        <img id="">





    </section>

</body>

<%- include(`meta/footer.ejs`) %> 