<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <title> GroupHub | HOME </title>
        <link href="/css/design.css" rel="stylesheet">
    </head>
    <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="wrapper">
      </div>   
      <div class="row">
        <div class="col">
          <div class="leftside">
            <h2> News Feed</h2>
            <img id="newsfeed" src="img/Design/newsfeed.png">
          </div>
        </div>
  
        <div class="col">
          <%- include(`homeStatusBar`) %> 
          
        </div>
      </div>  
    </div>
  </body>
  <%- include('meta/footer') %> 
</html>