<!DOCTYPE html>
<html>
	<head>
		<title>GroupHub | Login</title>
    <link rel="stylesheet" href="/css/register.css">
		<%- include(`meta/header.ejs`)  %> 
    </head>
	<body>
    <%- include('meta/navbar') %> 
    <div class="container">
		  <div class="login-form">
		  	<h1>Login Form</h1>
        <form action="/session/auth/user" method="POST">
          <div class="container">
            <div class="row">
              <div class="col">
                <label for="username">Brugernavn: </label>
                <input id="username" type="text" name="username" placeholder="Brugernavn" required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="password">Kodeord: </label>
                <input id="password" type="password" name="password" placeholder="Password" required>
              </div>
            </div>
            <button class="btn btn-primary"> Log ind</button>
          </div>
		  	</form>
          <p><a href="/access/register">Opret en ny bruger her!</a></p>
		  </div>
    </div>
		<%- include(`meta/footer.ejs`) %> 	
	</body>
</html>

