<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | Tilføj Spørgsmål</title>
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="/css/postQuestions.css">
    <script src="/js/insertHTMLElements.js"></script>
    <script defer src="/js/addAnotherQuestion.js"></script>
    <script defer src="/js/postQuizQuestions.js"></script>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <h1 id="quizTitleHeader"><!-- Create new questions for ${titleQuiz} (inserted from JS) --></h1>
      <p>Følg disse instruktioner for at tilføje spørgsmål til din evaluering:</p>
      <ol>
        <li>Skriv dit spørgsmål i input-feltet</li>
        <li>Tilføj så mange svar du har lyst til til dit spørgsmål</li>
        <li>Marker de(t) korrekte svar ved at afmærke den checkbox, som er til højre for de(t) korrekte svar</li>
        <li>Tilføj relevant(e) keyword(s) til dit spørgsmål</li>
        <li>Tilføj flere spørgsmål ved at klikke på knappen</li>
      </ol>
      <button type="button" class="addAnotherQuestionButton">Tilføj endnu et spørgsmål</button>
      <!--Det her bliver fyldt ind fra den tilhørende JS-fil, når brugeren trykker på knappen addAnotherQuestionButton-->
      <button type="button" class="addAnotherQuestionButton">Tilføj endnu et spørgsmål</button><br>
      <button id="submit">Indsend</button>
      <p id="questionCountDisplay">Antal spørgsmål: 0</p>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
