<%- include(`meta/header.ejs`)  %> 

<body>
    <nav>
        <a href="/www/views/home.ejs">Home</a>
    </nav>
    <h1>
        Rapport
    </h1>
    <section>
        <button id="design-rapport"> Show design </button>
        <img id="">





    </section>

</body>


<%- include(`meta/footer.ejs`) %> 