<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>Rapport Uploading</title>
    <link href="/css/design.css" rel="stylesheet">
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
        <div class="row">
          <div class="col-12">    
            <h1> Upload afsnit fra rapporten</h1>
          </div>
        </div>
      <br><br>
      <section>
        <form action="/upload/rapport" method="POST">
          <label>Vælg dokument </label>
          <select id="dokumenter" name="dokumenter"><br><br>
            <option value="volvo">P2 Projekt</option>
            <option value="saab">Algoritmer og Datastrukturer</option>
            <option value="fiat">Lineær Algebra</option>
            <option value="audi">IWP</option> 
          </select><br><br>
          <label for="fname">Vælg rapportafsnit </label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Vælg Keyword1 </label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="lname">Vælg Keyword3 </label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="lname">Vælg Keyword4 </label>
          <input type="text" id="lname" name="lname"><br><br>
          <input type="file" id="section" name="filename"><br>
          <input type="submit" value="Submit">
        </form>
      </section>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
