<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <title>Rapport Uploading</title>
    </head>
    <body>
        <%- include('meta/navbar') %> 
        <div class="container" id="content">
            <div class="row">
                <div class="col-12">    
                    <h1> HER KOMMER UPLOAD AF AFSNIT TIL RAPPORTEN</h1>
                    
                </div>
            </div>
        </div>
        <%- include('meta/footer') %> 
    </body>
</html>
