<!DOCTYPE html>
<html>
  <head>
  	<%- include(`meta/header.ejs`)  %> 
  	<title>GroupHub | Register</title>
  	<link rel="stylesheet" href="css/login_register_form.css">
  </head>
  <body>
    <%- include('meta/navbar') %>
    <div class="container">
  	  <div class="login-form">
  		  <h1>Register</h1>
  		  <form action="auth" method="POST">
			<input type="username" name="username" placeholder="username" required>
			<input type="password" name="password" placeholder="Password" required>	
			<input type="text" name="firstName" placeholder="First name" required>
			<input type="text" name="lastName" placeholder="Last name" required>
			<input type="text" name="studySubject" placeholder="Study subject" required>
			<input type="text" name="semester" placeholder="semester" required>
			<input type="text" name="university" placeholder="University" required>
			<input type="text" name="email" placeholder="Email" required>
  		    <input type="submit">
		    </form>
		    <p>
			    Already registered? <br>
			    <a href="/login">Log in here.</a>
		    </p>
      </div>
    </div>
  	<%- include(`meta/footer.ejs`) %> 
  </body>
</html>
