<!DOCTYPE html>
<html>
  <head>
  	<%- include(`meta/header.ejs`)  %> 
      <title>GroupHub | Register</title>
      <link href="/css/design.css" rel="stylesheet">
  	<link rel="stylesheet" href="/css/login_register_form.css">
  </head>
  <body>
    <div class="container">
  	  <div class="login-form">
  		  <h1>Register</h1>
  		  <form action="/access/register" method="POST">
			    <input type="text" name="username" placeholder="username" required>
			    <input type="password" name="password" placeholder="Password" required>	
			    <input type="text" name="firstName" placeholder="First name" required>
			    <input type="text" name="lastName" placeholder="Last name" required>
			    <input type="text" name="studySubject" placeholder="Study subject" required>
			    <input type="number" name="semester" placeholder="semester" required>
			    <input type="text" name="university" placeholder="University" required>
			    <input type="email" name="email" placeholder="Email">
  		    <input type="submit">
		    </form>
		    <p>
			    Already registered? <br>
			    <a href="/access/login">Log in here.</a>
		    </p>
      </div>
    </div>
  	<%- include(`meta/footer.ejs`) %> 
  </body>
</html>
