<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <%  console.log(data) %>
    <%- include('meta/footer') %> 
  </body>
</html>