<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>GroupHub | Sections</title>
</head>
<body>
    <h1>Hello</h1>
    <h1>Section ID: <%= data.section[0].idSection %> </h1>
    <h1>Section Title: <%= data.section[0].title %> </h1>
    <h1>Section Content: <%= data.section[0].content %> </h1>
</body>
</html>