<div class="footer">
  <div class="row">
    <div class="col">
      <p id="tradeMark">GroupHub - S2B2-1™</p>
    </div>
    <div >
      <p id="about">
        <a href="/access/about">Om denne platform</a>
      </p>
    </div>
  </div>
</div>
