<div class="container-fluid fixed-bottom footer bg-light">
  <div class="row">
    <p class="badge badge-secondary">GroupHub - S2B2-1™</p>
    <button class="ml-auto btn btn-info"><a href="/access/about">About</a></div>
  </div>
</div>
