<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if (isloggedin) { %>
        <img src="/img/grouphubicon.png" alt="GroupHub ikon" width="40">
        <span id="helloUser">Hej <%= data.user[0].username %> </span>
        <a class="nav-item nav-link" href="/">Forsiden</a>
        <a class="nav-item nav-link" href="/view/evaluations/expert">Dine Evalueringer</a>
        <a class="nav-item nav-link" href="/view/sections/expert">Dine Afsnit</a>
        <span class="logout">
          <a class="nav-item nav-link" href="/session/logout">Log ud</a>
        </span>
      <% } else { %>
        <img src="/img/grouphubicon.png" alt="GroupHub ikon" width="40">
        <a class="nav-item nav-link" href="/access/login">Log ind</a>
        <a class="nav-item nav-link" href="/access/register">Registrer</a>
      <% } %>
    </div>
  </div>
</nav>