<style>
    nav {text-align: center;}
    </style>
    <nav>
        <a href="/www/views/rapport.ejs"> Rapport </a><br>
        <a href="/www/views/evalueringer.ejs"> Evalueringer </a>
    </nav>
    
    
    