<br>
<br>
<br>
<br>
<br>
<br>
<div class = container id="footer">
  <div class="row">
    <div class="col-6">
      <p>Made by Group S2b2-1</p>
    </div>
    <div class="col-6">
        Ja det er så!
    </div>
  </div>
</div>
