<style>
    nav {text-align: center;}
    </style>
    <nav>
        <a href="www/ejs/rapport.ejs"> Rapport </a><br>
        <a href="www/ejs/evalueringer.ejs"> Evalueringer </a>
    </nav>
    
    
    