<!DOCTYPE html>
<html>
  <head>
    <title>Database down :(</title>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="col-12">
          <h1>Beklager men databasen er nede.</h1>
          <h4>Prøv at tilgå <a href="/">hjemmesiden</a> igen om lidt</h4>
        </div>
      </div>
    </div>
  </body>
</html>