<!-- WORK IN PROGRESS - Mvh Lasse -->

<form action="/post/quiz" method="POST">
  <div class="form-group">
    <input type="text" id="Question" name="Question" placeholder="Insert your question">
  </div>
  <div class="form-group">
    <label for="Answer">Answer 1:</label>
    <input type="text" id="Answer_1" name="Answer_1">
    <input type="radio" id="correctness_1" name="correctness_1" value="true">
    <label for="correctness_1">Correct answer</label>
    <input type="radio" id="correctness_1" name="correctness_1" value="false">
    <label for="correctness_1">False answer</label>
  </div>
  <div class="form-group">
    <label for="Answer_2">Answer 2:</label>
    <input type="text" id="Answer_2" name="Answer_2">
    <input type="radio" id="correctness_2" name="correctness_2" value="true">
    <label for="correctness_2">Correct answer</label>
    <input type="radio" id="correctness_2" name="correctness_2" value="false">
    <label for="correctness_2">False answer</label>
  </div>
  <div class="form-group">
    <label for="Answer">Answer 3:</label>
    <input type="text" id="Answer" name="Answer">
    <input type="radio" id="correctness_3" name="correctness_3" value="true">
    <label for="correctness_3">Correct answer</label>
    <input type="radio" id="correctness_3" name="correctness_3" value="false">
    <label for="correctness_3">False answer</label>
  </div>
  <div class="form-group">
    <label for="Answer">Answer 4:</label>
    <input type="text" id="Answer" name="Answer">
    <input type="radio" id="correctness_4" name="correctness_4" value="true">
    <label for="correctness_4">Correct answer</label>
    <input type="radio" id="correctness_4" name="correctness_4" value="false">
    <label for="correctness_4">False answer</label>
  </div>
  <div class="form-group">
    <input type="submit" value="Submit">
  </div>
</form>