html{
  height: 100%;
  background-color: white;
  position: relative;
  overflow: scroll;
}

body{
  height: auto;
  background-color: #B5D8EB;
  color: #2b580c;
  font-size: larger;

}

h1{
  font-weight: 600;
  color: black;
}


h2{
  font-weight: 600;
  margin: 20px 0 20px;
  color: black;
}

ul{
  padding-left: 15px;
  list-style-position: inside;
}

input{
  margin-left: 5px;
}

a{
  color: #2b580c;
}

a:hover{
  color: black;
}

.content{
  text-align: center;
  position: relative;
  width: 100%;
}

.footer{
  width: 100%;
  height: 50px;
  background-color: #d8ebb570;
  bottom: 0;
  position: relative;
}

.badge{
  height: fit-content;
}

.btn{
  margin: 5px;
}

.fa{
  font-weight: bold;
}


.btn{
  background-color: #639a677c;
  border: 0px ;
  color: #2b580c;
}
.btn:hover{
  background-color: #d9bf77;
}

.btn:hover>a{
  color: rgb(29, 155, 92);
}

.btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success{
  background-color: #5fdce57c;
}

.btn-success:hover{
  background-color: azure;
  color: #2b580c;
}
.btn-success>a:hover{
  background-color: azure;
  color: #2b580c;
}

.footer p{
  color: black;
}

#helloUser{
  padding: 8px;
  font-weight: 600;
}

#tradeMark{
  padding: 10px;
}

#icon{
  height: 40px;
  width: 40px;
}

#iconAnchor{
  margin: 0;
  padding: 0;
}
#iconAnchor:hover{
  background-color: rgba(0, 0, 0, 0);
}

#about{
  position: absolute;
  padding: 10px 10px 15px;
  margin: 0;
  right: 0;
}

#about>a{
  color: black;
}

#about:hover{
  background-color: #d9bf77;
}