h1 {color:black; padding: 20px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
h2 {text-align: center;}

body {background: skyblue; font-family: verdana; color:black; padding: 30px;}

nav {text-align: center;}

#design-homePage {
    width: 700px;
}

#design-evalueringerPage {
    width: 700px;
}

#design-rapportPage {
    width: 700px;
}

.wrapper {
    text-align: right;
}

.col {
    float: left;
    width: 50%;
    padding: 10px;
}

.leftside {
    text-align: center;
}

.rightside {
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 

#newsfeed {
    width: 400px;
    text-align:  center;
}

#progress-cirle {
    width: 400px;
    text-align:  center;
}

#afsnit2-1, #afsnit2-2, #afsnit2-3, #afsnit2-4, #afsnit3-1, #afsnit3-2, #afsnit3-3, #afsnit3-4 {
    padding: 10px;
}

#quiz, #flashcard {
    width: 300px;
    padding: 10px;
}

#quiz_for_section, #flashcard_for_section {
    width: 300px;
    padding: 10px;
}

.section_list {
    text-align: center;
}

.search_eval {
    text-align: center;
}

.concept, .definition, .show_definition, .cards {
    text-align: center;
}

#review {
    color: orange;
}

#agree {
    color: green;
}

.goToSection{
    color: white;
}