.row{
    margin-top: 5px;
}

.center{
    text-align: center;
}

.section, .evaluation{
    border-bottom: 2px solid black;
}

.content{
    max-height: 120px;
    position: relative;
    overflow-y: auto ;
}

.borderDashed{
    border-right: 1px dashed rgba(0, 0, 0, 0.185);
}
