.evaluationDiv{
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid black;
    width: 33%;
}

.evaluationTitle{
    font-size: large;
    font-weight: 700;
}

#createNewEvaluationButton{
    color: white;
    margin-left: 25%;
}

.col{
    margin: 0 33% 0;
    padding: 5px;
}